.checkbox-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin: 15px 0;
}
.checkbox-wrapper-with-icon {
  padding-left: 56px;
}

.checkbox-label {
  width: fit-content;
  font-weight: 600;
  font-size: 0.875rem;
}

.checkbox {
  position: absolute;
  margin: 5px 0 0 -20px;
}
.checkbox-with-icon {
  margin: 12px 0 0 -56px;
}

.checkbox-icon {
  position: absolute;
  left: 18px;
  top: 0;
  max-width: 32px;
  max-height: 32px;
  margin-top: 2px;
}

.checkbox-description {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--color-text-secondary);
  min-height: 17px;
}
