.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0 0 6px;
}

.input {
  padding: 5px 12px;
  font-size: 0.875rem;
  line-height: 20px;
  vertical-align: middle;
  color: var(--color-text-primary);
  background-color: var(--color-input-contrast-bg);
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid var(--color-input-border);
  border-radius: 6px;
  box-shadow: var(--color-shadow-inset);
  outline: none;
}

.input:focus {
  background-color: var(--color-input-bg);
  border-color: var(--color-state-focus-border);
  box-shadow: var(--color-state-focus-shadow);
}
