:root {
  --color-text-primary: #24292e;
  --color-text-secondary: #586069;
  --color-text-link: #0366d6;
  --color-border-secondary: #eaecef;
  --color-shadow-inset: inset 0 1px 0 rgba(225, 228, 232, 0.2);
  --color-state-focus-border: #0366d6;
  --color-state-focus-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
  --color-btn-text: #24292e;
  --color-btn-bg: #fafbfc;
  --color-btn-border: rgba(27, 31, 35, 0.15);
  --color-btn-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
  --color-btn-inset-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
  --color-btn-hover-bg: #f3f4f6;
  --color-btn-hover-border: rgba(27, 31, 35, 0.15);
  --color-btn-selected-bg: #edeff2;
  --color-btn-shadow-active: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
  --color-btn-shadow-input-focus: 0 0 0 0.2em rgba(3, 102, 214, 0.3);
  --color-btn-primary-text: #fff;
  --color-btn-primary-bg: #2ea44f;
  --color-btn-primary-border: rgba(27, 31, 35, 0.15);
  --color-btn-primary-shadow: 0 1px 0 rgba(27, 31, 35, 0.1);
  --color-btn-primary-inset-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.03);
  --color-btn-primary-hover-bg: #2c974b;
  --color-btn-primary-hover-border: rgba(27, 31, 35, 0.15);
  --color-btn-primary-selected-bg: #2a8f47;
  --color-btn-primary-selected-shadow: inset 0 1px 0 rgba(20, 70, 32, 0.2);
  --color-btn-primary-disabled-text: hsla(0, 0%, 100%, 0.8);
  --color-btn-primary-disabled-bg: #94d3a2;
  --color-btn-primary-disabled-border: rgba(27, 31, 35, 0.1);
  --color-dropdown-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  --color-input-bg: #fff;
  --color-input-contrast-bg: #fafbfc;
  --color-input-border: #e1e4e8;
  --color-avatar-border: transparent;
}

html,
body {
  font-size: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 8px;
  color: var(--color-text-primary);
}

h5 {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0;
  color: var(--color-text-primary);
}

p {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--color-text-primary);
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
